.geo-coords {
  height:  100%;
  padding: 0 10px;
  margin-left: auto;
  font-size: 10px;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-bar.geo-status {
  background-color: #dfd;
}

.status-bar.geo-status pre {
  display:  inline-block;
}