
.status-bar.last-updated {
  background-color: #ddf;
  display:  flex;
  align-items: center;
  justify-content: center;
}


.status-bar.error {
  background-color: #fdd;
}

.status-bar.last-updated .countdown {
  padding: 0 1ch;
  max-width: 4ch;
}
@media (max-width: 50ch) {
  .status-bar {
    font-size:  12px;
  }
}