

.quay-line-departures {
  --bg: black;
  --fg: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.quay-line-departures:not(:last-child) {
  border-bottom: none;
}


.quay-line-departures .line-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.quay-line-departures .line-number {
  flex-basis: 3ch;
  background-color: var(--bg);
  color: var(--fg);
  text-align: center;
  padding: 0 1ch;
  margin-right: 1ch;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quay-line-departures .line-header .line-link {
  color: inherit;
  text-decoration:  none;
  cursor: pointer;
}
.quay-line-departures .line-header .line-link:focus,
.quay-line-departures .line-header .line-link:hover {
  text-decoration: underline;
}

.quay-line-departures .line-name {
  flex-grow: 1;
  min-width: 10ch;
  overflow: auto;
  align-content: center;
}

.quay-line-departures .line-authority {
  text-align: center;
  padding: 0 1ch;
  margin-left: 1ch;
  border-left: 1px solid #ccc;
  align-content: center;
}

.quay-line-departures .quay-star {
  padding: 0 1ch;
  margin-left: 1ch;
  border-left: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quay-line-departures .line-quay-name {
  padding-left: 2ch;
  color: #666;
  font-style: italic;
}

@media (max-width: 40ch) {
  .quay-line-departures .line-authority {
    display: none;
  }
}


@media (max-width: 50ch) {
  .quay-line-departures.standalone > .line-header .line-authority {
    display: none;
  }
  .quay-line-departures.standalone > .line-header {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1.5em 1.5em;
  }
  .quay-line-departures.standalone > .line-header .line-quay-name {
    grid-column: 2;
    grid-row: 2;
    white-space: nowrap;
    overflow: auto;
    padding-left: 1ch;
  }
  .quay-line-departures.standalone > .line-header .line-name {
    grid-column: 2;
    grid-row: 1;
    white-space: nowrap;
    padding-left: 1ch;
  }
  .quay-line-departures.standalone > .line-header .line-number {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .quay-line-departures.standalone > .line-header .quay-star {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}

.quay-line-departures .toggle-full-quay {
  font-size:  inherit;
  background: none;
  border:  none;
  text-align:  left;
}

.quay-line-departures .toggle-full-quay .chevron {
  font-style: normal;
  padding-left:  1ch;
}

.quay-line-departures .temporary-full-quay-section {
  border: 2px dashed steelblue;
  padding: 1ch;
  margin:  1ch;
  background-color: #e0e0ff;
}

.quay-line-departures .temporary-full-quay-section .quay-line-departures {
  background-color: #fff;
}

@media (max-width: 50ch) {
  .quay-line-departures .temporary-full-quay-section {
    margin: 0 0;
    padding: 1ch 0;
    border-width: 2px 0;
  }
}

.quay-line-departures .line-departures {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  color: #333;
  padding: 3px 1ch;
  overflow: auto;
}

.quay-line-departures .departure-time {
  display: inline-block;
  flex-shrink: 0;
}

.quay-line-departures .departure-time.is-delayed {
  text-decoration: wavy underline tomato;
  -webkit-text-decoration: wavy underline tomato;
}

.quay-line-departures .departure-time.is-static {
  font-style: italic;
}

.quay-line-departures .departure-time:not(:last-child)::after {
  display: inline-block;
  content: "·";
  margin: 0 1ch;
}

@media (max-width: 30ch) {
  .quay-line-departures .line-departures {
    flex-direction: column;
  }
  .quay-line-departures .departure-time:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 25ch) {
  .quay-line-departures .line-header {
    flex-direction: column;
  }
  .quay-line-departures .quay-star {
    border-left: none;
  }
  .quay-line-departures .line-number {
    flex-basis: 0;
    margin-right: 0;
  }
}
