

.quay-star {
  cursor: pointer;
}
.quay-star-icon {
  font-size: 20px;
}
.quay-star-checkbox {
  opacity: 0;
  margin: 0;
  width:1px;
  height:1px;
}

.quay-star .quay-star-checkbox:checked + .quay-star-icon path {
  fill: #f3c967;
}
.quay-star .quay-star-checkbox:not(:checked) + .quay-star-icon path {
  fill: #ccc;
}
.quay-star .quay-star-checkbox:checked:focus + .quay-star-icon path,
.quay-star:hover .quay-star-checkbox:checked + .quay-star-icon path {
  fill: #ccb275ff;
}
.quay-star .quay-star-checkbox:not(:checked):focus + .quay-star-icon path,
.quay-star:hover .quay-star-checkbox:not(:checked) + .quay-star-icon path {
  fill: #aaa;
}

.quay-star .quay-star-checkbox:focus + .quay-star-icon path {
  stroke: #0009;
  stroke-width:  10px;
}