body {
  margin: 0;
  font-family: sans-serif;
}

body > #root {
  min-height: 100vh;
}

.main-header .logo {
  width: 1.5em;
  height: 1.5em;
}

main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.new-version {
  margin: auto;
  text-align: center;
  font-size:  80%;
  font-weight: bold;
}


.main-footer {
  height: 100px;
  margin: auto;
  text-align: center;
}


main > section > .status-bar {
  background-color: #eee;
  color: #333;
  padding: 1ch;
  min-height: 2em;
  line-height: 2em;
  display: flex;
}

main > section .status-bar .label {
  flex-grow: 1;
}

fieldset.quay {
  margin: 2em 1ch;
  border: 1px solid #999; 
  padding: 0;
  padding-top: 1ch;
}
fieldset.quay > legend {
  display: flex;
  margin-left: 1ch;
}
fieldset.quay .quay-line-departures {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.stop-place > h3 {
  padding-left: 1ch;
}


.main-header {
  background-color: steelblue;
  height: min-content;
  color: white;
  padding: 10px 0;
}
.main-header .inner {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.main-header .header-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column
}
.main-header .header-icon {
  font-size: 2em;
  flex-shrink: 1;
  margin-left: 10px;
  margin-right: 20px;
}
.main-header .header-title {
  font-size: 1em;
  margin: 0;
}
.main-header .header-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-header .spacer {
  flex-grow: 1;
}
.main-header .nav-link {
  font-size: 13px;
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.main-header .nav-link.active {
  border-bottom:  1px dashed #fff9;
}
.main-header .nav-link:hover {
  border-bottom:  1px solid white;
}

.main-header .header-navigation .nav-link {
  margin-right: 10px;
  padding: 2px 10px;
}
.main-header .header-settings {
  flex-shrink: 1;
  margin-top: 1.5em;
}
.main-header .header-settings .nav-link {
  padding: 2px 10px;
}

#selected footer,
#saved footer {
  padding: 3ch;
}

#search .venue-suggestion {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 1ch;
  cursor: pointer;
}
#search .venue-suggestion:hover {
  text-decoration: underline;
  background-color: #eee;
}

#settings {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}
#settings fieldset {
  margin-bottom: 2ch;
}

#settings fieldset {
  display: flex;
  flex-direction: column;
}